body,html{
  overflow-x:hidden;}
#bdy
{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}
#l1
{
    background-color: white;
    padding: 14px;
    text-align: center;
   /* font-weight: bold; */
    
   
    display: block;
    font-size:300%; 
    
}
.search2
{
    display: block;
}
#abcd
{
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

#ul1{
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 1px;
    margin-top: 10px;
    display: block;
    margin: 30px;
    position: relative;
    top: 70px; 
  }
 
 li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
  }
  .mobile_proto
  {
     color: white;
  }
  #img_mobile_proto
  {
    height: 600px;
    width: 800px;
    margin-left: 432px; 
    margin-top: 50px;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .tradingview-widget-container1
  {
      margin: 50px;
      margin-top: 40px;
      display: block;
      position:relative;
      top: 54px;
      

  }
  .tradingview-widget-container2
  {
    margin-left: 850px;
    margin-top: 0px;
    top: -715px;
    position:relative;
  }


#l2
{
    font-size: 220%;
    margin-left: 119px;
    font-weight: bold;
    color: white;
    font-weight: bold;
    position: relative;
    top: 72px;
    text-shadow: 3px 3px 5px #000000;
}
#l3
{
    font-size: 220%;
    margin-left: 900px;
    font-weight: bold;
    color: white;
    
    top: -730px;
    position: relative;
    text-shadow: 3px 3px 5px #000000; 
}

#mfbdy
{
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mfl2
{
  display: block;
  position: relative;
  top: 430px;
  left: 570px;
  color: rgb(48, 134, 48);
  cursor: pointer;
}
.a1
{
  text-decoration: none;
  font-weight: bold;
}

.forex
{
    margin-left:150px;
    margin-top: 30px;
    
}
body {
  height: 100%;
}
/*
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
} */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color:black;
  cursor: pointer;
}
th {
  text-align: left;
}
thead th {
  background-color:rgb(243, 145, 161);
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.ticker
{
  position: relative;
  top: -1592;
  display: block;
}

#cbdy
{
  background: #FBD3E9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#fbdy
{
  background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ct1
{
  left: 171px;
  top: 15px;
  display: block;
  position: relative;
}
#cl1
{
  color: white;
  display: block;
  position: relative;
  text-align: center;
  
}
#fl1
{
  text-align: center;
  color:white;
  background-color: rgb(226, 181, 181);
  display: block;
  font-size: 17px;
  font-weight: bold;
  padding: 2px;
  position: relative;
  top: 20px;
}
.solo
{
  margin-left: 490px;
  top: -1420px;
  position: relative;
  
}
.solo2
{
  margin-left: 490px;
  position: relative;
  top: -1330px;
  transition: width 2s, height 4s;
  
}
#img_groww_about
{
  height: 300px;
  width: 400px;
  margin-top: -550px;
}
.conbdy
{
  background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#conMap
{
  height: 350px;
  width: 350px;
  margin-left: 50px;
  margin-top: 20px;
}
#conLabel
{
  display: block;
  margin-left: 590px;
  margin-top: 100px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}
#conContent
{
  background-color: white;
  margin-left: 500px;
  margin-right: 20px;
  margin-top: -350px;
  padding: 44px;
}
.conC
{
  font-size: 30px;
}

/*    SOCIAL MEDIA ICONS    */


*,
*:after,
*:before {
  box-sizing: inherit;
}

.clip {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none
}

.svg--icon {
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 5rem;
  display: block;
  margin: 0 auto;
  fill: currentColor
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: -120px;
}

.share {
  width: 5rem;
  height: 5rem;
  float: left;
  margin: .5rem 1rem .5rem 0;
  color: #dfe5f1;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 25px 0 rgba(243, 238, 238, 0.15);
  border-radius: 50%;
  transition: 550ms;
  
  &:last-child {
    margin-right: 0
  }
  
  &:hover,
  &:focus {
    //background: #f1f1f1;
  }
  
  &:focus {
    outline-color: inherit;
  }
}

.twitter {
  &:hover,
  &:focus {
    color: #00ACED;
    box-shadow: 0 0 24px 0 #00ACED
  }
}

.github {
  &:hover,
  &:focus {
    color: #4183c4;
    box-shadow: 0 0 24px 0 #4183c4
  }
}

.pinterest {
  &:hover,
  &:focus {
    color: #bd081c;
    box-shadow: 0 0 24px 0 #bd081c
  }
}

.youtube {
  &:hover,
  &:focus {
    color: #cd201f;
    box-shadow: 0 0 24px 0 #cd201f
  }
}

.facebook {
  &:hover,
  &:focus {
    color: #3b5998;
    box-shadow: 0 0 24px 0 #3b5998
  }
}

.google {
  &:hover,
  &:focus {
    color: #dd4b39;
    box-shadow: 0 0 24px 0 #dd4b39
  }
}

/*============================================================*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: absolute;
  
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
   margin-left: 660px;
   margin-top: 85px;
   text-align: center;
   width: 900px;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

/*FANCY TEXT*/

#fancy {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

#fancy:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg2 {
  display: none;
}
/*FANCY TEXT ENDS*/

.myGrid1
{
    border: solid 1px black;
    margin: 200px;
}



.news-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
  position: absolute;
  background: #df2020;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 15s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #cc5757;
  position: relative;
}

.news-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-1083px);

  }
}
