.NavBar{
    width: 90%;
    margin: 2rem auto;
    }
    
    .NavBar_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content:space-between;
    gap: 1erm;
    }
    .NavBar_box_left{
        display:flex;
    align-items: center;
    gap: 4rem;
    }
    .NavBar_box_left_menu{
    display:flex;
    align-items: center;
    gap: 2rem;
    }
    
    .NavBar_box_left_menu_item{
    font-size: 1.2rem;
    color: #cff80b;
    }
    
    .NavBar_box_middle{
    background-color: #1e1e1e;
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    margin: 0 auto;
    }
    .NavBar_box_middle_search{
        display:flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    }
    
    .NavBar_box_middle_input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 1rem;
        color: #cff80d;
      }
      .NavBar_box_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
      }
      
      .NavBar_box_right_box{
        display: flex;
        align-items: center;
        gap: 1 erm;
        background-color: #1e1e1e;
        padding: .5rem 1.5rerm;
        border-radius: .5erm;
        cursor: pointer;
        text-transform: capitalize;
      }
      .NavBar_box_right_box p{
       font-size: 1.2rem;
       line-height: 0;
       color: #cff80b;
      }
    
      .Nav_box_right button{
        background-color: #1e1e1e;
        border: none;
        outline:none;
        color:#cff80b;
        border-radius: .5erm;
        padding: 1.2rem 1.5erm;
        cursor: pointer;
        display:flex;
        align-items: center;
        gap:1erm;
      }
    
      @media only screen and (max-width: 35em)
      {
        .NavBar{
            width:90%;
        }
        .Nav_Bar{
          grid-template-columns: .5fr 1 fr;
        }
        .NavBar_box_left_menu{
          display:none;
        }
       .NavBar_box_right_box{
        display: none;
       }
      }
      
    
      
    